{
    "loglevel": "info",
    "shadowsocks": {
        "password": "aaabbbcccddd1234"
    },
    "vless": {
        "clients": [
            {
                "id": "7ca67060-8ec6-4338-82b3-4d471f8edc80",
                "email": "user1@xrayvless",
                "flow": "xtls-rprx-vision"
            },
            {
                "id": "65400ec7-e870-422d-acbc-5423cf0459c8",
                "email": "user2@xrayvless",
                "flow": "xtls-rprx-vision"
            }
        ],
        "domain": "www.yahoo.com",
        "publicKey": "XpZ0sElISxS7GoIXO-PTtOLSmyxaX-_c2vPI8H7TwQA",
        "privateKey": "sMYCBmn3bDDkitaWv5MWh2d9kH6YN2GiB-l08La8tUI",
        "shortId": "5566ba446b594efe",
        "enable_nodeexporter": false
    }
}